
<div class="container login-container">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center ">Login to GitSIIT</h3>
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" id="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Enter your username or email" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Enter your password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="login()">Login</button>
         
        </form>
        <a href="#" class="register-link">Register</a>
        <a href="/restart-password" class="forgot-password-link">Forgot Password</a>
      </div>
    </div>
</div>
