
<div class="container login-container">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center ">Registration to GitSIIT</h3>
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" placeholder="Enter your first name or email" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="lastName" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" placeholder="Enter your name" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Enter your password" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="passwordAggain" [(ngModel)]="passwordAgine" [ngModelOptions]="{standalone: true}" placeholder="Enter your password aggain" required>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Enter your email" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="registration()">Registration</button>
         
        </form>
        <a href="/login" class="register-link">Login</a>
      </div>
    </div>
</div>
