
<div class="container login-container">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center ">Check token for restart password</h3>
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" id="username" [(ngModel)]="token" [ngModelOptions]="{standalone: true}" placeholder="Enter your token" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="verifyToken()">Check token</button>
        </form>
        <a href="/restart-password" class="register-link">Send token again</a>
      </div>
    </div>
</div>
