.new-repository {
    width: 782px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-repository-header {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-color: #30363db3;
    border-bottom-width: 1px;
}

.new-repository-header h1 {
    font-weight: 600;
    margin: 0px;
    font-size: 24px;
    color: #e6edf3;
}

.new-repository-header span {
    font-size: 0.875rem;
}

.regija {
    border-bottom: 1px solid #30363db3;
    min-height: 65px;
    float: left;
    padding-bottom: 15px;
    width: 100%;
}

.left {
    float: left;
}

.widget {
    margin-bottom: 0;
    font-weight: bold
}

.w-100 {
    width: 100%;
}

.form-select {
    height: 28px;
    gap: 4px;
    font-size: 12px;
    min-width: 50px;
    background-color: #30363db3;
    color: #e6edf3;
    border: 1px solid #30363d;
}