.lightColor {
    color: 	#808080;
}

.w-40p {
    width:167px;
}

.delete {
    display:none;
}

.deleteHover {
    cursor: pointer;
}

.deleteHover:hover .delete {
    display:inline;
}

.delete:hover {
    color:red;
}

.h-40 {
    height: 40px;
}

.hm-40 {
    min-height: 40px;
}

.h-150 {
    min-height: 150px;
}

.border-radius {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}