
<div class="container login-container">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center ">Password restart</h3>
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" id="username" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Enter your email" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="restart()">Send token to mail</button>
        </form>
        <a href="/" class="register-link">login</a>
      </div>
    </div>
</div>
