<header class="text-white header-dark">
    <div class="" style=" margin: 0 20px 0 20px;">

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
          <span><i class="fa fa-bars" aria-hidden="true"></i></span>
        </a>
        <a class="navbar-brand" href="/">
          <span><img src="../../../../../assets/github_1.png" alt="" width="30" height="30" style="border-radius: 50%;"></span>
        </a>
        <a class="navbar-brand text" href="/">
          <span>test</span>
        </a>
        <div *ngIf="isReposiotiry()">
          <a href="/">{{ngOwn(project.listUser)}}</a>
          /
          <a href="/repository/{{project.id}}/tree">{{project.name}}</a>
        </div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- User Menu -->
        <div class="navbar-nav ms-auto">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../../../assets/avatars/1.png" alt="User Image" width="30" height="30" class="rounded-circle me-2"> {{userData.firstName}} {{userData.lastName}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <!-- <li><a class="dropdown-item" href="">Profile</a></li> -->
              <li><a class="dropdown-item" href="/user-settings">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-dark" style="width: 53%;" *ngIf="!isReposiotiry()">
        <div class="collapse navbar-collapse" id="navbarNav" style="width: 100%;">
          <ul class="navbar-nav" style="width: 100%;">
            <li class="nav-item" style="margin-right: 10px;" [ngClass]="{'active': currentHeaderTab === 'overview'}">
              <a class="nav-link" href="/"> 
                <span><i class="fa fa-columns" aria-hidden="true"></i> Overview</span>
              </a>
            </li>
            <li class="nav-item" style="margin-right: 10px;" [ngClass]="{'active': currentHeaderTab === 'all-repo'}">
              <a class="nav-link" href="/all-repo">
                <span><i class="fa fa-archive" aria-hidden="true"></i> Repository</span></a>
            </li>
            <li class="nav-item" style="margin-right: 10px;" [ngClass]="{'active': currentHeaderTab === 'all-project'}">
              <a class="nav-link" href="/all-project">
                <span><i class="fa fa-th" aria-hidden="true"></i> Projects</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-dark" style="width: 53%;" *ngIf="isReposiotiry()">
        <div class="collapse navbar-collapse" id="navbarNav" style="width: 100%;">
          <ul class="navbar-nav" style="width: 100%;">
            <li class="nav-item" style="margin-right: 10px;" [ngClass]="{'active': currentTab === 'tree'}">
              <a class="nav-link" href="/repository/{{project.id}}/tree"> 
                <span><i class="fa fa-code" aria-hidden="true"></i> Code</span>
              </a>
            </li>
            <li class="nav-item" style="margin-right: 10px;" [ngClass]="{'active': currentTab === 'issues'}">
              <a class="nav-link" href="/repository/{{project.id}}/issues">
                <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Issues</span></a>
            </li>
            <li class="nav-item" style="margin-right: 10px;" [ngClass]="{'active': currentTab === 'pull'}">
              <a class="nav-link" href="/repository/{{project.id}}/pull">
                <span><i class="fa fa-play-circle-o" aria-hidden="true"></i> Pull requests</span>
              </a>
            </li>
            <li class="nav-item" style="margin-right: 10px;" [ngClass]="{'active': currentTab === 'statistic'}">
              <a class="nav-link" href="/repository/{{project.id}}/statistic">
                <span><i class="fa fa-line-chart" aria-hidden="true"></i> Statistic</span>
              </a>
            </li>
            <li class="nav-item" style="margin-right: 10px;" [ngClass]="{'active': currentTab === 'settings'}">
              <a class="nav-link" href="/repository/{{project.id}}/settings">
                <span><i class="fa fa-co" aria-hidden="true"></i> Settings</span>
              </a>
            </li>
            <!-- <li class="nav-item" [ngClass]="{'active': currentTab === 'settings'}">
              <a class="nav-link" href="/repository/{{repositoryId}}/{{settings}}">Settings</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </header>