.navbar-nav .dropdown-menu {
    position: absolute!important;
    background: #212529;
}

.dropdown-item {
    color: #fff
}

.thin-line {
    display: block;
    border-top: 1px solid #ccc; /* Boja linije (siva) */
    margin-top: 10px; /* Prilagodite po potrebi */
    margin-bottom: 10px; /* Prilagodite po potrebi */
}

.active a {
    color: #04AA6D!important;
}

.nav-link {
    color: #fff!important;
}

.nav-link:hover {
    color: #04AA6D!important;
}

a {
    color: inherit; /* Postavlja boju teksta linka da nasleđuje boju teksta roditeljskog elementa */
    text-decoration: none; /* Uklanja podvlačenje */
}

a:hover {
    color: #04AA6D; /* Boja teksta prilikom hover-a */
    text-decoration: underline; /* Dodaje podvlačenje prilikom hover-a */
}
