.list-group-item {
    height: 120px;
}

.item-name {
    height: 33.33%;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #4493f8
}

a:hover {
    color: #6aa84f;
}

.custom-margin {
    font-size: 0.75rem;
    border: 1px solid #8d96a0;
    border-radius: 2em;
    display: inline-block;
    font-weight: 500;
    line-height: 18px;
    padding: 0 7px;
    white-space: nowrap;
    color: #8d96a0;
}

.description-margin {
    font-size: 12px;
    padding: 3px;
    margin-right: 3px;
}

p {
    font-size: 14px;
    color: #8d96a0
}