
<div class="container login-container">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center ">Check token for restart password</h3>
        <form>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Enter new password" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password1" [(ngModel)]="password1" [ngModelOptions]="{standalone: true}" placeholder="Enter aggain password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="createNewPassword()">Save new password</button>
        </form>
      </div>
    </div>
</div>
