/* You can add global styles to this file, and also import other style files */
body {font-family: Arial, Helvetica, sans-serif;}

/* u vašem komponentu.css (ili .scss) fajlu */

.button-with-spinner {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db; /* Boja dugmeta */
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}
  
.button-with-spinner:hover {
    background-color: #2980b9; /* Boja dugmeta prilikom hover-a */
}
  
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-top: 3px solid #fff;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}

p {
    font-size: 12px;
}

.red-class {
    color: red;
}
.green-class {
    color: green;
}
.blue-class {
    color: blue;
}
.test-class {
    color: black;
}

.btn-custom {
    color: #c9d1d9!important;
    background-color: #21262d!important;
    border-color: #30363d!important;
    box-shadow: 0px 0px 0px 0px #000000!important;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1)!important;
    transition-property: color, background-color, box-shadow, border-color!important;
    display: block!important;
    width: 100%!important;
    text-align: center!important;
}

.btn-custom:hover {
    background-color: #292e36!important;
    border-color: #30363d!important;
    transition-duration: .1s!important;
}

.form-control {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #e6edf3;
    vertical-align: middle;
    background-color: #0d1117;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #30363d;
    border-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #0104093d;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
}

.form-control:focus {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #e6edf3;
    vertical-align: middle;
    background-color: #0d1117;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #1f6feb;
    border-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #0104093d;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
}