<div class="container mt-4">
    <div class="row">

        <!-- Right side with user information -->
        <div class="col-md-3" >
            <div class="card">
                <img src="../../../../assets/avatars/{{userInformation.image}}" style="border-radius: 50%;" class="card-img-top" alt="User Image">
                <div class="card-body" *ngIf="!isEdit">
                    <p class="card-text">{{userData.username}}</p>
                    <!-- Add more user information here -->
                    <a class="btn btn-success btn-custom" style="width: 100%; cursor: pointer;" (click)="isEdit = !isEdit">Edit Profile</a>
                    <span class="thin-line"></span>
                    <div style="margin-top: 15px; height: 30px; float: left; width: 100%;">
                        <span style="height: 100%; width: 47.5%; float: left; text-align: right;">{{otherInformation.followers}} followers</span>
                        <span style="height: 100%; width: 5%; float: left; text-align: center;">-</span>
                        <span style="height: 100%; width: 47.5%; float: left;">{{otherInformation.following}} following</span>
                    </div>
                </div>
                <div *ngIf="isEdit" style="margin-top: 15px;">
                    <app-edit-profile
                        [userData]="userData"
                        [isEdit]="isEdit"
                        (notifyParent)="isEditClick($event)">
                    </app-edit-profile>
                </div>
            </div>
        </div>

        <!-- Left side with charts -->
        <div class="col-md-9">
            <app-overview *ngIf="currentHeaderTab === 'overview'" [allRepositories]="allRepositories"></app-overview>

            <app-all-repo *ngIf="currentHeaderTab === 'all-repo'"></app-all-repo>

            <app-all-projects *ngIf="currentHeaderTab === 'all-project'"></app-all-projects>
        </div>
        
    </div>
</div>