.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
}

.login-form {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.card {
  border: none;
}

.text-center {
    text-align: center;
}

ul {
  margin-left: -32px;
}

.register-link,
    .forgot-password-link {
      display: block;
      text-align: center;
      margin-top: 15px;
      font-size: 12px;
    }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.new-btn {
  display: block;
  text-align: center !important;
  background-color: #238636;
  color: #fff;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  appearance: none;
  display: flex;
  justify-content: center; /* Horizontalno centriranje */
  align-items: center; /* Vertikalno centriranje */
  text-decoration: none; /* Ukloni podvlačenje od hiperveze */
  width: 100%; /* Da bi tekst bio centriran u celom elementu */
  height: 100%; /* Da bi tekst bio centriran u celom elementu */
}

.new-btn:hover {
  background-color: #6aa84f;;
}

/* Stilovi za dugme */
.dropbtn {
  background-color: #238636;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Stilovi za padajući meni */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  top: 35px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.selectOptions {
  background-color: #ddd;
}